[submodule "odooec"]
	path = odooec
	url = git@github.com:cerealesandinos/odooec.git
	branch = 10.0

[submodule "cerealesandinos/theme-ca"]
	path = cerealesandinos/theme-ca
	url = git@github.com:cerealesandinos/theme-ca.git
	branch = master

[submodule "muk-it/muk_web"]
	path = muk-it/muk_web
	url = git@github.com:muk-it/muk_web.git
	branch = 10.0

[submodule "OCA/website"]
	path = OCA/website
	url = git@github.com:OCA/website.git
	branch = 10.0
[submodule "cerealesandinos/multiweb"]
	path = cerealesandinos/multiweb
	url = git@github.com:cerealesandinos/multiweb.git
	branch = multiw
[submodule "multiweb"]
	path = multiweb
	url = git@github.com:cerealesandinos/multiweb.git
	branch = 10.0
